/* body{
   background: #44A08D;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #093637, #44A08D); 
background: linear-gradient(to right, #093637, #44A08D); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+


} */
.main-item{
    margin-top: 25px !important;
}